/* 
*
*	CONFIGUARACAO PRINCIPAL
*
*   Criacao: 23/Maio/2016
*   Revisao: 00/mmm/aaaa
*/

/*
  sanfrancisco-display
*/


@font-face {
  font-family: "titulo-bold";
  src:url("../css/fonts/padrao/font-text/titulo-bold/font.eot");
  src:url("../css/fonts/padrao/font-text/titulo-bold/font.eot?#iefix") format("embedded-opentype"),
    url("../css/fonts/padrao/font-text/titulo-bold/font.woff") format("woff"),
    url("../css/fonts/padrao/font-text/titulo-bold/font.ttf") format("truetype"),
    url("../css/fonts/padrao/font-text/titulo-bold/font.svg#icon-font") format("svg");
  font-weight: thin;
  font-style: thin;
}


@font-face {
  font-family: "thin";
  src:url("../css/fonts/padrao/font-text/thin/font.eot");
  src:url("../css/fonts/padrao/font-text/thin/font.eot?#iefix") format("embedded-opentype"),
    url("../css/fonts/padrao/font-text/thin/font.woff") format("woff"),
    url("../css/fonts/padrao/font-text/thin/font.ttf") format("truetype"),
    url("../css/fonts/padrao/font-text/thin/font.svg#icon-font") format("svg");
  font-weight: thin;
  font-style: thin;
}

@font-face {
  font-family: "regular";
  src:url("../css/fonts/padrao/font-text/regular/font.eot");
  src:url("../css/fonts/padrao/font-text/regular/font.eot?#iefix") format("embedded-opentype"),
    url("../css/fonts/padrao/font-text/regular/font.woff") format("woff"),
    url("../css/fonts/padrao/font-text/regular/font.ttf") format("truetype"),
    url("../css/fonts/padrao/font-text/regular/font.svg#icon-font") format("svg");
  font-weight: nornal;
  font-style: normal;
}

@font-face {
  font-family: "bold";
  src:url("../css/fonts/padrao/font-text/bold/font.eot");
  src:url("../css/fonts/padrao/font-text/bold/font.eot?#iefix") format("embedded-opentype"),
    url("../css/fonts/padrao/font-text/bold/font.woff") format("woff"),
    url("../css/fonts/padrao/font-text/bold/font.ttf") format("truetype"),
    url("../css/fonts/padrao/font-text/bold/font.svg#icon-font") format("svg");
  font-weight: bold;
  font-style: bold;
}
