/* 
*
*	CONFIGUARACAO PRINCIPAL
*
*   Criacao: 23/Maio/2016
*   Revisao: 00/mmm/aaaa
*/

/*
  sanfrancisco-display
*/

/* ------------------------------------------------------------------------ */
/*  LOCAL FOLDER */

    $urlfont: "../css/fonts/font-text/";

/* ------------------------------------------------------------------------ */
/*  PADRÃO */

    @font-face {
        font-family: "title";
        src:url( #{$urlfont}title/font.eot);
        src:url( #{$urlfont}title/font.eot?#iefix) format("embedded-opentype"),
        url( #{$urlfont}title/font.woff) format("woff"),
        url( #{$urlfont}title/font.ttf) format("truetype"),
        url( #{$urlfont}title/font.svg#icon-font) format("svg");
            //
            font-weight: bold;
            font-style: bold;
    }

    @font-face {
        font-family: "text";
        src:url( #{$urlfont}text/font.eot);
        src:url( #{$urlfont}text/font.eot?#iefix) format("embedded-opentype"),
        url( #{$urlfont}text/font.woff) format("woff"),
        url( #{$urlfont}text/font.ttf) format("truetype"),
        url( #{$urlfont}text/font.svg#icon-font) format("svg");
            //
            font-weight: bold;
            font-style: bold;
    }

/* ------------------------------------------------------------------------ */
/*  FONT FAMILY */

    @font-face {
        font-family: "bold";
        src:url( #{$urlfont}bold/font.eot);
        src:url( #{$urlfont}bold/font.eot?#iefix) format("embedded-opentype"),
            url( #{$urlfont}bold/font.woff) format("woff"),
            url( #{$urlfont}bold/font.ttf) format("truetype"),
            url( #{$urlfont}Bold/font.svg#icon-font) format("svg");
            //
            font-weight: bold;
            font-style: bold;
    }

    @font-face {
        font-family: "regular";
        src:url( #{$urlfont}regular/font.eot);
        src:url( #{$urlfont}regular/font.eot?#iefix) format("embedded-opentype"),
            url( #{$urlfont}regular/font.woff) format("woff"),
            url( #{$urlfont}regular/font.ttf) format("truetype"),
            url( #{$urlfont}regular/font.svg#icon-font) format("svg");
            //
            font-weight: normal;
            font-style: normal;
    }

    @font-face {
        font-family: "condensad";
        src:url( #{$urlfont}condensad/font.eot);
        src:url( #{$urlfont}condensad/font.eot?#iefix) format("embedded-opentype"),
            url( #{$urlfont}condensad/font.woff) format("woff"),
            url( #{$urlfont}condensad/font.ttf) format("truetype"),
            url( #{$urlfont}condensad/font.svg#icon-font) format("svg");
            //
            font-weight: normal;
            font-style: normal;
    }
